<div id="top-nav" >      
  <div id="search-wrap">

    <span class = 'glyphicon glyphicon-search search-child' style = "display: inline-block; font-size: 18px;padding-left:10px; padding-right:10px; margin-right:0px; margin-top:auto; margin-bottom:auto;" ></span> 

    <input id="search-input" placeholder="Search" class ="search" /> 
          
    <div class = "search-result" style="position:absolute; width:500px; top:40px;">
    </div>
  </div>
</div>



<script>

</script>